.retracted .userRow{
    display: none;
}
td,th{
    border: 1px solid #D7D7D7;
}
td{
    height: 33px;
    width: 33px;
    box-sizing: border-box;
}
.weekend{
    background: #F0F0F0;
}
tbody::before
{
    content: '';
    display: block;
    height: 40px;
}

