.modalWrapper{
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.65);
    font-family: 'Open Sans';
    z-index: 5;
}
.modal{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    width: 393px;
    min-height: 373px;
    background: #fff;
    border-radius: 5px;
}
.modal__header{
    display: flex;
    justify-content: space-between;
    background: #EAEAEA;
    padding: 20px 30px;
    border-radius: 5px;
}
.modal__header_red{
    background: rgba(231, 16, 16, 0.596);
}
.header__text , .header__title{
    margin: 0;
}
.dates__title{
    font-size: 12px;
    margin: 0;
}
.header__text{
    font-size: 14px;
    color: #575757;
    font-weight: 600;
}
.header__title{
    font-size: 16px;
    color: #666666;
}
.modal__body{
    padding: 20px 30px;
}
.modal__dates{
    display: flex;
    justify-content: space-between;
    padding-bottom: 34px;
}
.dates__input{
    border: none;
    outline: none;
    border-bottom: 1px solid #D0D0D0;
}
.title{
    font-weight: 600;
    font-size: 14px;
    margin: 0;
}
.dates-block__header{
    margin: 0;
    margin-bottom: 6px;
}
.vacation-form-type__header{
    margin-bottom: 6px;
}
.vacation-form-type__input{
    background: #E9E9E9;
    border-radius: 3px;
    width: 337px;
    height: 41px;
    outline: none;
    padding: 12px 17px;
}
.vacation-form-type{
    padding-bottom: 64px;
}
.btn-block{
    padding-top: 13px;
    display: flex;
    justify-content: space-between;
}
.btn-block__btn{
    width: 154px;
    height: 42px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}
.btn-block__btn_submit{
    background: #48BA46;
    border: 1px solid  #48BA46;
    color:#fff;
}
.btn-block__btn_close{
    border: 1px solid #D0D0D0;
    background: #fff;
}
.fa-exclamation-circle{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.error-block__text{
    text-align: center;
}

.btn-block__btn_middle{
    width: 130px;
    height: 40px;
    background: rgb(255, 196, 0);
    margin: 0 auto;
}
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
hr{
    margin: 0;
}