.month-switcher{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.month-switcher span{
    margin: 0px 15px;
}

.month-switcher button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    width: 50px;
    height: 15px;
    cursor: pointer;
}

.month-switcher button:focus{
    outline: none;
}

.month-switcher button img{
    width: 100%;
    height: 100%;
}
